{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}


{% block body %}
{{ render_esi(controller('App\\Controller\\BlocCmsController::index', { key: constant('App\\Entity\\BlocCMS::HOME_SITE_DESCRIPTION') })) }}
<ul class="list-disc list-inside"></ul>
<div class="w-full mt-6 pt-4 mb-10">
  <p>Taux d'avancement du ReVE :</p>
  <div class="shadow w-full bg-stone-200">
    <div id="progress-done" class="text-xs leading-none text-white">
      <div id="state--no-info" class="state transition-all duration-1000 state--no-info py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">Pas d'information</span></div>
      <div id="state--wait" class="state transition-all duration-1000 state--wait py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">En attente</span></div>
      <div id="state--etude" class="state transition-all duration-1000 state--etude py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">À l'étude</span></div>
      <div id="state--travaux" class="state transition-all duration-1000 state--travaux py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">En travaux</span></div>
      <div id="state--done" class="state transition-all duration-1000 state--done py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">Réalisé</span></div>
      <div id="state--existant2020" class="state transition-all duration-1000 state--done py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">Existant avant 2020</span></div>
    </div>
  </div>

  <p class="mt-2">Taux d'avancement du mandat:</p>
  <div class="shadow w-full bg-stone-200">
    <div id="progress-mandat" class="bg-teal-900 text-xs leading-none py-1 text-center text-white transition-all duration-1000" style="width: 0%">0%</div>
  </div>

  <p class="mt-2">Taux d'avancement jusqu'à l'objectif de fin du ReVE (2030):</p>
  <div class="shadow w-full bg-stone-200">
    <div id="progress-full-time-reve" class="bg-orange-900 text-xs leading-none py-1 text-center text-white transition-all duration-1000" style="width: 0%">0%</div>
  </div>
</div>

<div class="pt-6">
  <div id="mapFrame" data-pathligne="{{ path('app_reve_ligne', {id: -1}) }}"></div>
  <br/>
  <i>Cliquez les cases ci-dessous pour (dé-)sélectionner les catégories:</i>

  <ul class="checkboxes">
    <li><label class="checkbox no-info" for="checkbox-no-info"><input type="checkbox" id="checkbox-no-info" data-layer="no-info" checked="checked" /><span class="indicator"></span>En attente d'information</label></li>
    <li><label class="checkbox wait" for="checkbox-wait"><input type="checkbox" id="checkbox-wait" data-layer="wait" checked="checked" /><span class="indicator"></span>Pistes cyclables en attente</label></li>
    <li><label class="checkbox etude" for="checkbox-etude"><input type="checkbox" id="checkbox-etude" data-layer="etude" checked="checked" /><span class="indicator"></span>Pistes cyclables à l'étude</label></li>
    <li><label class="checkbox travaux" for="checkbox-travaux"><input type="checkbox" id="checkbox-travaux" data-layer="travaux" checked="checked" /><span class="indicator"></span>Pistes cyclables en construction</label></li>
    <li><label class="checkbox done" for="checkbox-done"><input type="checkbox" id="checkbox-done" data-layer="done" checked="checked" /><span class="indicator"></span>Pistes cyclables réalisées</label></li>
  </ul>
  {# <ul class="legend done-subcategory">
      <li><span id="checkbox-done-layers" onclick="toggleLayersDone()">&check;</span> Pistes cyclables réalisées :  </li><br/>
      <li><span class="novel" id="checkbox-novel" onclick="toggleLayer('novel')"> &check; </span> &ndash; nouveaux aménagements (hors pérennisations) </li><br>
      <li><span class="persistent" id="checkbox-persistent" onclick="toggleLayer('persistent')">&check;</span> &ndash; pérennisations de coronapistes en dur </li><br>
      <li><span class="semipersistent" id="checkbox-semipersistent" onclick="toggleLayer('semipersistent')">&check;</span> &ndash; semi-pérennisations légères</li><br>
  </ul> #}

  <a href="{{ path('app_reve_ligne', {"id" : 1}) }}">Ligne 1</a>
  <a href="{{ path('app_reve_ligne', {"id" : 2}) }}">Ligne 2</a>
  <a href="{{ path('app_reve_ligne', {"id" : 3}) }}">Ligne 3</a>
  <a href="{{ path('app_reve_ligne', {"id" : 4}) }}">Ligne 4</a>
  <a href="{{ path('app_reve_ligne', {"id" : 5}) }}">Ligne 5</a>
  <a href="{{ path('app_reve_ligne', {"id" : 6}) }}">Ligne 6</a>
  <a href="{{ path('app_reve_ligne', {"id" : 7}) }}">Ligne 7</a>
  <a href="{{ path('app_reve_ligne', {"id" : 8}) }}">Ligne 8</a>
  <a href="{{ path('app_reve_ligne', {"id" : 9}) }}">Ligne 9</a>
  <a href="{{ path('app_reve_ligne', {"id" : 10}) }}">Ligne 10</a>
  <a href="{{ path('app_reve_ligne', {"id" : 11}) }}">Ligne 11</a>
  <a href="{{ path('app_reve_ligne', {"id" : 12}) }}">Ligne 12</a>
  <a href="{{ path('app_reve_ligne', {"id" : 13}) }}">Ligne 13</a>
  <a href="{{ path('app_reve_ligne', {"id" : 14}) }}">Ligne 14</a>
</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}