{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block title %}{{ ligneReve.name }}{% endblock %}
{% block titleH1 %}{{ ligneReve.name }}{% endblock %}

{% block body %}

    <div>
        {{ ligneReve.contentBefore|raw }}
    </div>
    <p>Taux d'avancement de la ligne {{ ligneReve.numero }} :</p>
    <div class="shadow w-full bg-stone-200">
        <div id="progress-done" class="text-xs leading-none text-white">
            <div id="state--no-info" class="state transition-all duration-1000 state--no-info py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">Pas d'information</span></div>
            <div id="state--wait" class="state transition-all duration-1000 state--wait py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">En attente</span></div>
            <div id="state--etude" class="state transition-all duration-1000 state--etude py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">À l'étude</span></div>
            <div id="state--travaux" class="state transition-all duration-1000 state--travaux py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">En travaux</span></div>
            <div id="state--done" class="state transition-all duration-1000 state--done py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">Réalisé</span></div>
            <div id="state--existant2020" class="state transition-all duration-1000 state--done py-1 text-center" style="width: 0%"><span class="value">0%</span><span class="tooltiptext">Existant avant 2020</span></div>
        </div>
    </div>
    <div class="pt-6">
        <div id="mapFrame"></div>
    </div>
    <div>
        {{ ligneReve.contentAfter|raw }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}